.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #E5E5E5;
    border-radius: 10px 10px 0px 0;
    padding: 20px;
    display: none;
}

.navigation .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation .content .link_box a {
    display: block;
}

.navigation .content .link_box a .icon {
    margin: auto;
    text-align: center;
    transition: .3s;
}

.navigation .content .link_box.active a .icon,
.navigation .content .link_box a:hover .icon {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(90deg) brightness(88%) contrast(119%);
}

.navigation .content .link_box a .icon .active {
    opacity: 0;
    display: none;
}

.navigation .content .link_box a:hover .icon .active {
    display: block;
    opacity: 1;
}

.navigation .content .link_box a:hover .icon .normal {
    display: none;
    opacity: 0;
}

.navigation .content .link_box a .title {
    color: #6B6B6B;
    font-size: 16px;
}

.navigation .content .link_box a:hover .title {
    color: #80AD01;
}

@media screen and (max-width : 768px) {
    .navigation {
        display: block;
    }
}